 body {
	display: flex;
	flex-direction: column;
	text-align: center;
	background: linear-gradient(90deg,rgb(221, 192, 145), rgb(76, 21, 1) );
  }

.image img {
  max-width: 25%;
	height: auto;
}





